
Major_project_proposal.aux
Major_project_proposal.bcf
Major_project_proposal.blg
Major_project_proposal.log
Major_project_proposal.out
Major_project_proposal.run.xml
Major_project_proposal.synctex.gz
Major_project_proposal.run.xml
Major_project_proposal.run.xml
